$a-primary: #005FFF;

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 6,
  ),
  7: (
    $spacer * 9,
  ),
  8: (
    $spacer * 15,
  ),
  9: (
    $spacer * 21,
  ),
  10: (
    $spacer * 30,
  ),
);

@import "./vendor/shards/shards-pro.scss";
@import "~bootstrap/scss/utilities/spacing";

.fs-1 {
  font-size: $h1-font-size
}
.fs-2 {
  font-size: $h2-font-size
}
.fs-3 {
  font-size: $h3-font-size
}
.fs-4 {
  font-size: $h4-font-size
}
.fs-5 {
  font-size: $h5-font-size
}
.fs-6 {
  font-size: $h6-font-size
}

strong {
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: #222220;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
  &:hover, &.router-link-active {
    opacity: 1;
  }
}

body {
  background: url('/images/bkg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.btn-primary {
  background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%);
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%), rgba(255,255,255,.1);
  background-blend-mode: overlay;
  border: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: center 50px;
    background-size: 110%;
  }
}

.icon-bubble {
  width: 48px;
  height: 48px;
  border-radius: 32.5px;

  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 95, 255, 0.1);

  &.square {
    border-radius: 0.625rem;
  }

  img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
  }
}

.blue-shadow {
  box-shadow: 3px -6px 22px rgba(0, 95, 255, 0.11), 0px 30px 82px rgba(0, 90, 255, 0.05);
}

.blue-shadow-2 {
  box-shadow: 0px 30px 82px rgba(0, 90, 255, 0.1);
}

.blue-shadow-3 {
  // info element outer
  box-shadow: 0px 0px 40px rgba(0, 90, 255, 0.1);
}

.blue-shadow-4 {
  // info element inner logo
  box-shadow: 0px 0px 8px rgba(0, 90, 255, 0.1);
}


.flex-gutter {
  &>* {
    margin: 1em;
  }

  &.flex-gutter-lg > * {
    margin: 1.5em;
  }

  // &>*:last-child {
  //   margin-right: 0;
  // }
}

.feature-box {
  max-width: 200px;

  &.bigger {
    max-width: 400px;
  }

  h6 {
    font-size: 18px;
    font-weight: 500;
    min-height: 2.4em;
    line-height: 1.2em;

    border-bottom: 1px solid $a-primary;
  }
}

.heading {
  text-align: center;
  color: #5E5E5E;
  line-height: 1.4em;
  font-weight: 400;
  font-size: 18px;

  h3 {
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 30px;
  }
  h6 {
    color: inherit;
  }
}

#content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    min-height: 32px;
    padding-left: 32px;
    background: url("/images/icons/bullet.svg") no-repeat left top;
  }

  &.list-blue li {
    background: url("/images/icons/bullet-2.svg") no-repeat left top;
    min-height: 38px;
    line-height: 32px;
    padding-left: 38px;
  }
}