$a-primary: #0054ff;

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 6,
  ),
  7: (
    $spacer * 9,
  ),
  8: (
    $spacer * 15,
  ),
  9: (
    $spacer * 21,
  ),
  10: (
    $spacer * 30,
  ),
);

@import "./vendor/shards/shards-pro.scss";
@import "~bootstrap/scss/utilities/spacing";

.navbar-light .navbar-nav .nav-link {
  color: #222220;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
  &:hover, &.router-link-active {
    opacity: 1;
  }
}

body {
  background: url('/images/bkg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.btn-primary {
  background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%);
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(83.49deg, #71C9FA -108.79%, #0054FF 76.92%), rgba(255,255,255,.1);
  background-blend-mode: overlay;
  border: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: center 50px;
    background-size: 110%;
  }
}


.blue-shadow {
  box-shadow: 3px -6px 22px rgba(0, 95, 255, 0.11), 0px 30px 82px rgba(0, 90, 255, 0.05);
}
