html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.5em;
  font-weight: 600;
}

body {
  background: url('assets/bg.svg') no-repeat center -250px;
}

.card-body ul {
  padding-left: 1em;
  padding-top: 1em;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}

.navbar-brand {
  padding: 0;
}
