html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.5em;
  font-weight: 600;
}

.card-body ul {
  padding-left: 1em;
  padding-top: 1em;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}

.navbar-brand {
  padding: 0;
}

footer {
  background: $dark-blue;
  color: $white;
  padding-top: 1em;

  .brand {
    color: #fff;
    margin: 0;
    img {
      filter: grayscale(1) contrast(10);
    }
  }
  h6, a {
    color: #fff;
  }

  ul {
    list-style-type: none;
    font-size: 80%;
    padding: 0;
  }

  .copyright {
    background: rgba(0,0,0,.1);
    p {
      padding: .5em 0;
      margin: 0;
      font-size: 80%;
    }
  }
}


.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
